.cart{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 60vh;
}

.cart table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.cart td{
    border: 1px solid #ccc;
    line-height: 40px;
}   

.cart td img{
    height: 100px;
}

.button-quantity{
    background-color: #5eadf6;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.cart-overload{
    text-align: center;color: red;
    padding-top: 10px;
}