.order_detail{
    width: 90%;
    margin: 20px auto;
    padding-left: 50px;
}

h3,h2,h4{
    margin-top: 20px;
     
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.btn{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.btn-danger{
    background-color: #ff1616;
}

.btn-primary{
    background-color: #14b1dd;
}

.btn-success{
    background-color: #14b1dd;
}